ibm_node_red_flow
[{"id":"7c92de5.d76f9a","type":"ibmiot in","z":"9d1572a.5fa269","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":260,"y":280,"wires":[["a746115d.30972","7d1d7aa5.5bc284","9205da8d.5c01d"]]},{"id":"a746115d.30972","type":"debug","z":"9d1572a.5fa269","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":280,"wires":[]},{"id":"7d1d7aa5.5bc284","type":"change","z":"9d1572a.5fa269","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["a2b96ff7.1acda8"]]},{"id":"a2b96ff7.1acda8","type":"debug","z":"9d1572a.5fa269","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":400,"wires":[]},{"id":"9205da8d.5c01d","type":"function","z":"9d1572a.5fa269","name":"function1","func":"msg.payload={\n    humidity: msg.payload.d.humidity,\n    temperature: msg.payload.d.temp,\n    class:2\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":500,"wires":[["9e5de59e.f2c8c8","e029631.301a92"]]},{"id":"9e5de59e.f2c8c8","type":"debug","z":"9d1572a.5fa269","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":500,"wires":[]},{"id":"e029631.301a92","type":"cloudant out","z":"9d1572a.5fa269","name":"","cloudant":"","database":"office_temp","service":"ilian75-cloudantNoSQLDB","payonly":true,"operation":"insert","x":730,"y":600,"wires":[]}]
